.ant-table-body {
    min-height: calc(100vh - 144px);
}

.ant-table-thead {
    display: none !important ;
}

.ant-table-tbody{
  padding: 16px 4px !important;
}
.ant-table-tbody > tr > td.ant-table-cell {
  padding: 16px 4px !important;
}

.note {
  width: 96%;
  margin-left: 2%;
  opacity: 0.5;
  border: 0px;
}

.note:focus {
  border: 2px solid #000;
}
